*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #ffffff;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

h2 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #2e2f42;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-align: center;
}

h3 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: medium;
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.logo-web {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.16;
  text-align: middle;
  text-transform: uppercase;
}

.logo-studio-header {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  color: #2e2f42;
}

.logo-studio-footer {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  color: #ffffff;
  align-self: center;
}

section {
  padding: 72px 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.nav-list {
  display: inline-flex;
  font-weight: 500;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.link-nav {
  font-weight: 500;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.link-nav:hover {
  color: #404ddf;
  text-decoration: underline;
}


.link-address {
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.link-address:hover {
  color: #404ddf;
}

.contacts .link {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #2e2f42;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.42;
}

.contacts .link:hover {
  color: #4d5ae5;
}

.button {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  text-align: middle;
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  justify-content: center;
}

.button:hover {
  background-color: #404ddf;
}

.services {
  list-style: none;
}

.team {
  background-color: #f4f4fd;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio {
  list-style-type: none;
}

footer {
  color: #ffffff;
  background-color: #2e2f42;
}

.container {
  display: flex;
  width: 320px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  width: 320px;
  padding: 24px 0;
  background-color: #ffffff;
  list-style-type: none;
  border: #e7e9fc 1px solid;
  position: relative;
}

.solid-menu {
  display: none;
  cursor: pointer;
  position: relative;
}

.mobile-nav {
  position: fixed;
  width: 320px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.mobile-nav ul {
  list-style: none;
  text-align: center;
}

.mobile-nav li {
  margin: 30px 0;
}

.mobile-icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width:320px) {
  .solid-menu {
    display: block;

  }
}

#mobile-menu-toggle.checked~.mobile-nav {
  opacity: 1;
  visibility: visible;
}

#mobile-menu-toggle.checked~.solid-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width:320px) {
  .solid-menu {
    display: none;
  }

  .mobile-nav {
    display: none;
  }
}

.nav-list {
  display: flex;
  gap: 40px;
}

.contacts {
  display: flex;
  gap: 40px;
}

.header-content {
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 320px) and (max-width: 768px) {


  .contacts {
    display: grid;
    gap: 24px;
  }

}

.title {
  padding: 0;
  width: 320px;
  height: 432px;
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/people-office\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/Dark-bg.jpg), rgba(46, 47, 66, 0.7);
}


@media (min-resolution: 2x) {
  .title {
    background-image: url("../images/people-office\ 2x.jpg");
  }
}

.dark-bg {
  background-color: rgba(46, 47, 66, 0.7);
}

.title .container {
  display: flex;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 72px;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
  gap: 72px;
}

.hero {
  display: flex;
  color: #ffffff;
  width: 216px;
  height: 160px;
  text-align: center;
}

.services {
  width: 320px;
  height: 696px;
  margin: 0;
}

.services .container {
  height: 696px;
  align-items: center;
  justify-content: center;
}

.services-list {
  display: grid;
  width: 320px;
  height: 696px;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}

.features1,
.features2,
.features3,
.features4 {
  display: grid;
  width: 288px;
  height: 120px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.icon-services {
  width: 64px;
  height: 64px;
  background-color: #f4f4fd;
}

.fetures-frame {
  display: flex;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: #8e8f99 1px solid;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.services-content {
  display: block;
  width: 288px;
  height: 72px;
  text-align: left;
}

.properties {
  display: block;
  text-align: center;
}

.team {
  width: 320px;
  height: 2232px;
  margin: 0;
}

.team .container {
  display: block;
  width: 320px;
  height: 1928px;
  justify-content: center;
}

.team-list {
  display: grid;
  margin-top: 72px;
  gap: 30px;
  justify-content: center;
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
  display: grid;
  width: 264px;
  height: 428px;
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-content {
  display: grid;
  text-align: center;
  width: 232px;
  height: 104px;
  background-color: #ffffff;
  padding-left: 16px;
}

.social-icons {
  display: flex;
  width: 232px;
  height: 40px;
  gap: 24px;
  justify-content: center;
}

.icon-social {
  display: inline-flex;
  width: 16px;
  height: 17px;
}

.link {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.link:hover {
  background-color: #404bbf;
}


.portfolio {
  width: 288px;
  height: 2752px;
}

.portfolio .container {
  display: grid;
  justify-content: center;
}

.portfolio-list {
  display: inline-flex;
  flex-wrap: wrap;
  width: 320px;
  margin-top: 72px;
  gap: 30px;
  justify-content: center;
}

-->.project-card,
.project-card2,
.project-card3,
.project-card4,
.project-card5,
.project-card6 {
  width: 288px;
  height: 400px;
  border: #e7e9fc 1px solid;
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card:hover,
.project-card2:hover,
.project-card3:hover,
.project-card4:hover,
.project-card5:hover,
.project-card6:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}


.overlay {
  padding: 8px;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding-top: 40px;
  padding-left: 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease-in-out;
}

.portfolio-overlay:hover .overlay {
  transform: translateY(0);
}

.card-content {
  display: block;
  text-align: left;
  padding: 32px 16px;
}

img {
  display: block;
  max-width: 100%;
}


footer {
  width: 320px;
  height: 664px;
  background-color: #2e2f42;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 72px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  width: 264px;
  height: 112px;
}

.footer-text {
  text-align: justify;
}

.social-links {
  display: grid;
  width: 208px;
  height: 80px;
  gap: 16px;
  justify-content: center;
}

.social-icons {
  display: flex;
  width: 208px;
  gap: 16px;
}

.social-media {
  width: 208px;
  text-align: center;
}

.icon-social-footer {
  display: inline-flex;
  width: 16px;
  height: 17px;
}

.link-footer {
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.link-footer:hover {
  background-color: #31d0aa;
}

.email-input-footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 136px;
  gap: 16px;
}

.email-field {
  display: inline-flex;
  width: 264px;
  height: 40px;
  padding: 14px 16px;
  color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 4px;
  background-color: #2e2f42;
  margin-top: 16px;
}

.email-field:hover {
  border: #31d0aa 1px solid;
}

.email-field::placeholder {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  vertical-align: middle;
}

.subscribe-button {
  cursor: pointer;
  display: inline-flex;
  width: 165px;
  height: 40px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.subscribe-button:hover {
  background-color: #31d0aa;
}

.subscribe-frame {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  text-align: middle;
  display: flex;
  width: 77px;
  height: 24px;
}

.icon-send {
  display: flex;
  width: 24px;
  height: 24px;
}

.subscribe-label {
  text-align: center;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.is-open {
  display: flex;
}

.modal-header {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 48px;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-size: 12px;
  width: 288px;
  height: 623px;
  padding: 24px;
  gap: 12px;
  align-items: center;
}

.modal-input {
  display: contents;
}

.modal-content label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.icon-close {
  position: absolute;
  width: 8px;
  height: 8px;
  align-items: center;
  justify-content: center;
}


.close-button {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  background-color: #4d5ae5;
  fill: #ffffff;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 336px;
  align-items: flex-start;
  gap: 8px;
}

.name-input,
.phone-input,
.email-input,
.comment-input {
  display: flex;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #8e8f99;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  justify-content: flex-start;
  position: relative;
  border: none;
  border-style: none;
}

.name,
.phone,
.email {
  width: 256px;
  height: 40px;
  padding-left: 26px;
  border: rgba(46, 47, 66, 0.4) 1px solid;
  outline: none;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-phone,
.icon-name,
.icon-email {
  position: absolute;
  top: 32px;
  left: 8px;
  width: 18px;
  height: 24px;
  fill: black;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.name:focus,
.phone:focus,
.email:focus,
.comment-input textarea:active {
  border: #4d5ae5 1px solid;
}

.name-input:focus-within .icon-name {
  fill: #4d5ae5;
}

.phone-input:focus-within .icon-phone {
  fill: #4d5ae5;
}

.email-input:focus-within .icon-email {
  fill: #4d5ae5;
}

.text-name,
.text-phone,
.text-email,
.text-comment {
  font-size: 12px;
}

.comment-input textarea {
  width: 256px;
  padding: 14px 16px;
  font-family: "roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: rgba(46, 47, 66, 0.4);
  border: rgba(46, 47, 66, 0.4) 1px solid;
  border-radius: 4px;
  resize: none;
  outline: none;
}

.comment-input textarea:focus {
  border: #4d5ae5 1px solid;
}

.checkbox-label {
  display: flex;
  flex-direction: inherit;
  width: 256px;
  font-family: "roboto", sans-serif;
  font-weight: 400;
  color: #2e2f42 rgba(46, 47, 66, 0.4);
}

.checkbox-text {
  display: inline;
}

.terms-privacy {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: #2e2f42 rgba(46, 47, 66, 0.4) 1px solid;
  border-radius: 2px;
  cursor: pointer;
}

.privacy:hover {
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-send-button {
  cursor: pointer;
  width: 169px;
  height: 56px;
  margin-top: 10px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.modal-send {
  font-family: Roboto;
  font-weight: 500;
  font-style: Medium;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  text-align: center;
  vertical-align: middle;
}

.modal-send-button:hover {
  background-color: #404bbf;
}